<!-- Forgot Password Page -->
<div class="hidden slide" id="lslf__v_forgot-password">
    <section class="content text-center">
        <p class="mt-0 mb-3">
            <small>
                No worries, we all forget passwords sometimes. Enter your email
                address below and we'll send instructions on how to reset it.
            </small>
        </p>
        <form id="lslf__form_forgot-password" action="/" method="post">
            <div class="form__group text-left">
                <input
                    type="email"
                    name="lslf__field_email"
                    id="lslf__field_email"
                    class="form__control"
                    required
                />
                <label
                    class="form__label"
                    for="lslf__field_email"
                    id="lslf__field_email_label"
                    >Email Address</label
                >
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-2">
                Submit
            </button>
            <button
                type="button"
                class="btn link text-primary slide-switcher text-center mt-4"
                data-go-to="lslf__v_login"
            >
                <small>Return to Sign-In</small>
            </button>
        </form>
    </section>
    <footer>
        <small>
            <a href="#" class="slide-switcher" data-go-to="lslf__v_need-help">
                Need Help?
            </a>
        </small>
    </footer>
</div>
