<!-- Forgot Password Page -->
<div class="hidden slide" id="lslf__v_forgot-password">
    <section class="content text-center">
        <p class="mt-0 mb-3">
            <small>
                <span
                    id="lslf__forgot-password_message"
                    data-content="No worries, we all forget passwords sometimes. Enter your email address below and we'll send instructions on how to reset it"
                ></span>
            </small>
        </p>
        <form
            id="lslf__form_forgot-password"
            action="/"
            method="post"
            class="error_"
        >
            <!-- Add class "error" above to display the error message -->
            <div class="alert alert-danger w-100 mb-2">
                <i class="icon-utils-warning"></i>
                <span
                    id="lslf__forgot-password_error_message"
                    class="label"
                    data-content="dynamic error text"
                >
                    Dynamic Error Text
                </span>
            </div>

            <div
                class="
                    form__group
                    text-left
                    in-field-icon in-field-icon--prepend
                "
            >
                <input
                    type="email"
                    name="lslf__field_email"
                    id="lslf__field_email"
                    class="form__control"
                    placeholder="Email Address"
                    required
                />
                <label class="form__label" for="lslf__field_email"
                    ><span
                        id="lslf__field_email_label"
                        data-content="Email Address"
                    ></span
                ></label>
                <i
                    class="
                        in-field-icon__icon in-field-icon__icon--start
                        icon-utils-message
                        text-muted
                    "
                ></i>
            </div>
            <button
                type="submit"
                class="btn btn-primary w-100 mt-2"
                id="lslf__btn_submit-forgot-password"
            >
                <span
                    id="lslf__btn_submit-forgot-password_label"
                    class="label"
                    data-content="Submit"
                >
                </span>
            </button>
            <div class="text-left mt-3 hidden">
                <% include partials/alert-success %>
            </div>
            <button
                type="button"
                class="btn link text-primary slide-switcher text-center mt-4"
                data-go-to="lslf__v_login"
                id="lslf__forgot-password_btn_back"
            >
                <small>
                    <span
                        id="lslf__forgot-password_btn_back_label"
                        class="label"
                        data-content="Return to Sign In"
                    >
                    </span>
                </small>
            </button>
        </form>
    </section>
    <footer>
        <small>
            <a
                href="#"
                class="slide-switcher"
                data-go-to="lslf__v_need-help"
                id="lslf__forgot-password_btn_need-help"
            >
                <span
                    id="lslf__forgot-password_btn_need-help_label"
                    class="label"
                    data-content="Need Help?"
                >
                </span>
            </a>
        </small>
    </footer>
</div>
