<!-- Login Page -->
<div class="slide" id="lslf__v_login">
    <section class="content">
        <!-- prettier-ignore -->
        <form 
            id="lslf__form_login" 
            action="/" 
            method="post" 
            class="error_"
        >
        <!-- Add class "error" above to display the error message -->

            <div class="alert alert-danger w-100 mb-4">
                <span class="message">
                    <i class="icon-utils-warning"></i>
                    <spam 
                        id="lslf__login_error_message"
                        class="label"
                        data-content="Username or Password are not recognized. Please try again or contact support at 1-800-439-5788."
                    >
                </span>
            </div>
        
            <div class="form__group in-field-icon in-field-icon--prepend">
                <input
                    type="text"
                    name="lslf__field_user-name"
                    id="lslf__field_user-name"
                    class="form__control"
                    required
                />
                <label
                    class="form__label"
                    for="lslf__field_user-name"                    
                >
                <span id="lslf__field_user-name_label" data-content="Username"></span>
                </label>
                <i class="in-field-icon__icon in-field-icon__icon--start icon-nav-my-account text-muted"></i>

            </div>
            <div class="form__group in-field-icon in-field-icon--prepend in-field-icon--append">
                <input
                    type="password"
                    name="lslf__field_password"
                    id="lslf__field_password"
                    class="form__control"
                    required
                />
                <label 
                    class="form__label" 
                    for="lslf__field_password"                     
                >
                <span id="lslf__field_password_label" data-content="Password"></span>
                </label>
                <i class="in-field-icon__icon in-field-icon__icon--start icon-utils-lock text-muted"></i>
                <span>
                    <i class="in-field-icon__icon in-field-icon__icon--end icon-nav-watchdogs text-muted password-toggle password-toggle--show"></i>
                    <i class="in-field-icon__icon in-field-icon__icon--end icon-utils-hide text-muted password-toggle password-toggle--hide hidden"></i>
                </span>

            </div>
            <button type="submit" class="btn btn-primary w-100 mt-2" id="lslf__btn_sign-in">
                <span id="lslf__btn_sign-in_label" class="label" data-content="Sign In">
                </span>
            </button>
        </form>
    </section>
    <footer>
        <small>
            <a
                href="#"
                class="slide-switcher"
                data-go-to="lslf__v_forgot-password"
                id="lslf__login_btn_forgot-password"
            >
                <span
                    id="lslf__login_btn_forgot-password_label"
                    class="label"
                    data-content="Forgot Password"
                >
                </span>
            </a>
            &nbsp;or&nbsp;
            <a
                href="#"
                class="slide-switcher"
                data-go-to="lslf__v_need-help"
                id="lslf__login_btn_need-help"
            >
                <span
                    id="lslf__login_btn_need-help_label"
                    class="label"
                    data-content="Need Help?"
                >
                </span>
            </a>
        </small>
    </footer>
</div>
