<div class="alert alert-success w-100 mb-4">
    <span class="message">
        <i class="icon-utils-check"></i>
        <spam 
            id="lslf__success_message"
            class="label"
            data-content="Meesage body"
        >
    </span>
</div>
