<div class="alert alert-danger w-100 mb-4">
    <span class="message">
        <i class="icon-utils-warning"></i>
        <spam id="sf_error_alert_message"
            >Username or Password are not recognized. Please try again or
            contact support at <nobr>1-800-439-5788</nobr>.</spam
        >
    </span>
</div>
