/* --------------------------------------------- *\
    Widget Colors CSS Variables
\* --------------------------------------------- */

:root {
    /* no important */

    /* Buttons color */
    --primary-color: #12355a;

    /* Button text color */
    --primary-color-accent: #ffffff;

    /* Widget background color */
    --white: #fff;

    /* Footer background */
    --light: #f9f9f9;

    /* Black text color */
    --system-black: #000;

    /* Success and Danger colors */
    --success: #8bc34a;
    --danger: #d22814;

    /* Fields borders */
    --default: #899aac;
}
