/* --------------------------------------------- *\
    Colors fallback values
\* --------------------------------------------- */

$white: #fff;
$black: #000;
$primary: #12355a;
$default: #899aac;
$gray: #8c8c8c;
$success: #8bc34a;
$danger: #d22814;
$info: #03a9f4;
$gray-light: #f9f9f9;
$gray-350: #dfdfdf;
$gray-400: #c5c5c5;
$blue-light: rgb(243, 250, 254);
