/* --------------------------------------------- *\
    Colors fallback values
\* --------------------------------------------- */

$white: #fff;
$black: #000;
$primary: #12355a;
$default: #899aac;
$gray: #8c8c8c;
$success: #8bc34a;
$danger: #d22814;
$light: #f9f9f9;
$gray-400: #c5c5c5;
