/* --------------------------------------------- *\
    Forms
\* --------------------------------------------- */

.form__group {
    $field-padding: 1em;

    position: relative;
    display: block;
    padding-top: 0.375rem;
    margin: 1em auto 0.5em;
    line-height: 1.5;

    input,
    input[type="text"],
    input[type="password"],
    input[type="email"] {
        border-radius: $radius;
        margin: 0;
        box-sizing: border-box;
        font-size: 0.9em;
        padding: 0.75em 0.875em;
        &::placeholder {
            letter-spacing: 0.02em;
            opacity: 0.7;
        }
        width: 100%;
        background-color: $white;
        transition: border 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
    }

    &.form__group--hidden-label {
        input {
            border-top: solid 1px;
            border-top-color: var(--sf_color_default, $default);
        }
        .form__label {
            display: none;
        }
    }

    .form__label {
        position: absolute;
        left: 2.5em;
        top: 1em;
        z-index: 1;
        color: var(--sf_color_default, $default);
        white-space: nowrap;
        &:before,
        &:after {
            transition: border-color 0.2s, box-shadow 0.2s;
        }
        transition: color 0.2s, font-size 0.2s, line-height 0.2s;
    }

    &.form__group--active {
        input,
        input[type="text"],
        input[type="password"],
        input[type="email"] {
            &:focus {
                border-color: var(--sf_color_black, $black);
                border-top-color: rgba(0, 0, 0, 0);
                & + .form__label {
                    color: var(--sf_color_black, $black);
                    &:before,
                    &:after {
                        border-color: var(--sf_color_black, $black);
                    }
                    & + i {
                        color: var(--sf_color_black, $black);
                        & + span > i {
                            color: var(--sf_color_black, $black);
                        }
                    }
                }
            }
            border-top-color: rgba(0, 0, 0, 0);
        }

        .form__label {
            left: 0;
            top: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-flex;
            line-height: 0.9375em;
            margin-bottom: 10px;
            width: 100%;
            max-height: 100%;
            font-weight: 400;
            font-size: 0.75rem;
            box-sizing: border-box;
            line-height: 1em;
            color: var(--sf_color_default, $default);

            &:before {
                margin-right: 0.25rem;
                border-left: solid 1px transparent;
                border-radius: 0.25rem 0;
            }

            &:after {
                flex-grow: 1;
                margin-left: 0.25rem;
                border-right: solid 1px transparent;
                border-radius: 0 0.25rem;
            }

            &:before,
            &:after {
                display: block;
                min-width: 0.625rem;
                height: 0.5rem;
                margin-top: 0.375rem;
                pointer-events: none;
                content: "";
                border-top: solid 1px;
                border-top-color: $gray-400;
            }
        }
    }

    .form__control {
        position: relative;
        z-index: 1;
        width: 100%;
        height: inherit;
        right: 0;
        padding: 0.875em 0.75em;
        margin: 0;
        font-size: inherit;
        font-family: inherit;
        line-height: inherit;
        background-color: transparent;
        border-color: $gray-400;
        border-width: 1px;
        border-style: solid;
        border-radius: $radius;
        box-shadow: none;
        transition: border 0.2s, box-shadow 0.2s;
    }

    &.in-field-icon {
        &.in-field-icon--prepend {
            input {
                padding-left: 2.5em;
            }
        }

        &.in-field-icon--append {
            input {
                padding-right: 2.5em;
            }
        }

        i.in-field-icon__icon {
            position: absolute;
            z-index: 1;
            top: 1em;
        }

        i.in-field-icon__icon--start {
            left: 0.75em;
        }

        i.in-field-icon__icon--end {
            right: 0.75em;
        }
    }
}

.error {
    .form__group {
        color: var(--sf_color_danger, $danger);
        input {
            border-color: var(--sf_color_danger, $danger);
        }
        .form__label {
            color: var(--sf_color_danger, $danger);
            &:before,
            &:after {
                border-color: var(--sf_color_danger, $danger);
            }
        }

        &.in-field-icon {
            i.in-field-icon__icon {
                color: var(--sf_color_danger, $danger);
            }
        }
    }
}
