/* --------------------------------------------- *\
  "Login" Page
\* --------------------------------------------- */

/* Error Message */
#lslf__login_error_message::after {
    content: var(--lslf__login_error_message, attr(data-content));
}

/* Username Input - Label */
#lslf__field_user-name_label::after {
    content: var(--lslf__field_user-name_label, attr(data-content));
}

/* Password Input - Label */
#lslf__field_password_label::after {
    content: var(--lslf__field_password_label, attr(data-content));
}

/* Sign-In Button Text Label */
#lslf__btn_sign-in_label::after {
    content: var(--lslf__btn_sign-in_label, attr(data-content));
}

/* Forgot Password Link Label */
#lslf__login_btn_forgot-password_label::after {
    content: var(--lslf__login_btn_forgot-password_label, attr(data-content));
}

/* Need Help Link Label */
#lslf__login_btn_need-help_label::after {
    content: var(--lslf__login_btn_need-help_label, attr(data-content));
}

/* --------------------------------------------- *\
  "Forgot Password" Page
\* --------------------------------------------- */

/* Message */
#lslf__forgot-password_message::after {
    content: var(--lslf__forgot-password_message, attr(data-content));
}

/* Error Message */
// NOTE: this is not intended to be controlled by via CSS variables
// #lslf__forgot-password_error_message::after {
//     content: var(--lslf__forgot-password_error_message, attr(data-content));
// }

/* Password Sent Confirmation Message */
#lslf__success_message::after {
    content: var(--lslf__succsess_message, attr(data-content));
}

/* Email Input - Label */
#lslf__field_email_label::after {
    content: var(--lslf__field_email_label, attr(data-content));
}

/* Submit Button Text Label */
#lslf__btn_submit-forgot-password_label::after {
    content: var(--lslf__btn_submit-forgot-password_label, attr(data-content));
}

/* Return to Sign-In Link Label */
#lslf__forgot-password_btn_back_label::after {
    content: var(--lslf__forgot-password_btn_back_label, attr(data-content));
}

/* Need Help Link Label */
#lslf__forgot-password_btn_need-help_label::after {
    content: var(
        --lslf__forgot-password_btn_need-help_label,
        attr(data-content)
    );
}

/* --------------------------------------------- *\
  "Need Help" Page
\* --------------------------------------------- */

/* Custom Headline */
#lslf__need-help_headline::after {
    content: var(--lslf__need-help_headline, attr(data-content));
}

/* Custom Message */
#lslf__need-help_message::after {
    content: var(--lslf__need-help_message, attr(data-content));
}

/* Return to Sign-In Link Label */
#lslf__need-help_btn_back_label::after {
    content: var(--lslf__need-help_btn_back_label, attr(data-content));
}

/* Custom CTA Button Text Label */
#lslf__need-help_btn_custom-cta_label::after {
    content: var(--lslf__need-help_btn_custom-cta_label, attr(data-content));
}
